<h1>Listing menus</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Menu Id</th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= image_tag (category.photo.url(:thumb)) %></td>
    <td><%= category.name %></td>
    <td><%= category.information %></td>
    <td><%= link_to 'Show', category %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Menu', new_menu_path %>
